
body, h1, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: #fff;
}

/* Header styles */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #000;
    z-index: 1;
}

.logo img {
    width: 100px;
}

.nav ul {
    list-style: none;
    display: flex;
}

.nav ul li {
    margin-right: 20px;
    cursor: pointer;
}

/* Hero styles */
.hero {
    background-image: url('hero-background\ \(1\).jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content {
    max-width: 600px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.cta-button {
    padding: 10px 20px;
    background-color: #e50914;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}

.featured {
    padding: 50px;
}

.featured h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Footer styles */
.footer {
    background-color: #000;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .nav ul {
        display: none;
    }
    .header {
        padding: 20px;
    }
    .nav.active ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #000;
        border: 1px solid #e50914;
    }
    .nav.active ul li {
        margin: 10px 0;
    }
}
